

.ExperiencesContainer{
    width: 90vw;
    margin-top: 100px;
}
.WorkTitle{
    font-weight: 600;
    margin-top: 0;
}
.Used{
    font-weight: 600;
    color: white;
}
.Location{
    font-weight: 600;
    opacity: 0.8;
}
.VT{
    text-align:left;
    width: 100%;
    color: white;
}
.des{
    color: white;
    font-weight: 600;
}
